#content {
    width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.free {
    width: 100px;
    height: 100px;
    display: inline-block;
    border: 6px solid #7A33FF;
    border-radius: 10px;
    background-color: #33FF68;
}

.busy {
    width: 100px;
    height: 100px;
    display: inline-block;
    border: 6px solid #7A33FF;
    border-radius: 10px;
    background-color: red;
}

#divOfQueue {
    width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#divOfQueue > div {
    margin-top: 140px;
    width: 150px;
    height: 200px;
    border: 6px solid #7A33FF;
    border-radius: 10px;
}

#queue {
    display: flex;
    justify-content: center;
    align-items: center;
}

#queueCount {
    color: #7A33FF;
    font-size: 20px;
    font-family: 'Gugi', cursive;
}